@model IEnumerable<ProyectoAvanzado.Models.Medicamento>

@{
    ViewBag.Title = "Medicamento";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreMedicamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionMedicamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObservacionMedicamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreMedicamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionMedicamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObservacionMedicamento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
