@model IEnumerable<ProyectoAvanzado.Models.Doctor>

@{
    ViewBag.Title = "Doctores";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Doctor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.especialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
